@using EntityLayer.Concrete
@model ProductViewModel
@{
	ViewData["Title"] = "Shop";
	Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!DOCTYPE html>
<html lang="zxx">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Male_Fashion Template">
	<meta name="keywords" content="Male_Fashion, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Male-Fashion | Template</title>
</head>

<body>

	<!-- Breadcrumb Section Begin -->
	<section class="breadcrumb-option">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb__text">
						<h4>Shop</h4>
						<div class="breadcrumb__links">
							<a href="./index.html">Home</a>
							<span>Shop</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Section End -->
	<!-- Shop Section Begin -->
	<section class="shop spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="shop__sidebar">
						<div class="shop__sidebar__search">
							<form action="#">
								<input type="text" placeholder="Search...">
								<button type="submit"><span class="icon_search"></span></button>
							</form>
						</div>

						<div class="shop__sidebar__accordion">
							<div class="accordion" id="accordionExample">
								<div class="card">
									<div class="card-heading">
										<a data-toggle="collapse" data-target="#collapseOne">Kategoriler</a>
									</div>
									<div id="collapseOne" class="collapse" data-parent="#accordionExample">
										<div class="card-body">
											<div class="shop__sidebar__categories">
												<button class="btn active" onclick="filterSelection('all')"> Tüm Kategoriler</button>
												<ul class="nice-scroll">

													@foreach (var item in Model.Categories)
													{
														<li>
															<button  class="btn" onclick="filterSelection('@item.CategoryName')"> @item.CategoryName </button>
														</li>
													}
												</ul>
											</div>

										</div>
									</div>
								</div>

								<div class="card">
									<div class="card-heading">
										<a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
									</div>
									<div id="collapseTwo" class="collapse " data-parent="#accordionExample">
										<div class="card-body">
											<div class="shop__sidebar__brand">
												<ul>
													<li><a href="#">Louis Vuitton</a></li>
													<li><a href="#">Chanel</a></li>
													<li><a href="#">Hermes</a></li>
													<li><a href="#">Gucci</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-heading">
										<a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
									</div>
									<div id="collapseThree" class="collapse " data-parent="#accordionExample">
										<div class="card-body">
											<div class="shop__sidebar__price">
												<ul>
													<li><a href="#">$0.00 - $50.00</a></li>
													<li><a href="#">$50.00 - $100.00</a></li>
													<li><a href="#">$100.00 - $150.00</a></li>
													<li><a href="#">$150.00 - $200.00</a></li>
													<li><a href="#">$200.00 - $250.00</a></li>
													<li><a href="#">250.00+</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-heading">
										<a data-toggle="collapse" data-target="#collapseFour">Size</a>
									</div>
									<div id="collapseFour" class="collapse " data-parent="#accordionExample">
										<div class="card-body">
											<div class="shop__sidebar__size">
												<label for="xs">
													xs
													<input type="radio" id="xs">
												</label>
												<label for="sm">
													s
													<input type="radio" id="sm">
												</label>
												<label for="md">
													m
													<input type="radio" id="md">
												</label>
												<label for="xl">
													xl
													<input type="radio" id="xl">
												</label>
												<label for="2xl">
													2xl
													<input type="radio" id="2xl">
												</label>
												<label for="xxl">
													xxl
													<input type="radio" id="xxl">
												</label>
												<label for="3xl">
													3xl
													<input type="radio" id="3xl">
												</label>
												<label for="4xl">
													4xl
													<input type="radio" id="4xl">
												</label>
											</div>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-heading">
										<a data-toggle="collapse" data-target="#collapseFive">Colors</a>
									</div>
									<div id="collapseFive" class="collapse " data-parent="#accordionExample">
										<div class="card-body">
											<div class="shop__sidebar__color">
												<label class="c-1" for="sp-1">
													<input type="radio" id="sp-1">
												</label>
												<label class="c-2" for="sp-2">
													<input type="radio" id="sp-2">
												</label>
												<label class="c-3" for="sp-3">
													<input type="radio" id="sp-3">
												</label>
												<label class="c-4" for="sp-4">
													<input type="radio" id="sp-4">
												</label>
												<label class="c-5" for="sp-5">
													<input type="radio" id="sp-5">
												</label>
												<label class="c-6" for="sp-6">
													<input type="radio" id="sp-6">
												</label>
												<label class="c-7" for="sp-7">
													<input type="radio" id="sp-7">
												</label>
												<label class="c-8" for="sp-8">
													<input type="radio" id="sp-8">
												</label>
												<label class="c-9" for="sp-9">
													<input type="radio" id="sp-9">
												</label>
											</div>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-heading">
										<a data-toggle="collapse" data-target="#collapseSix">Tags</a>
									</div>
									<div id="collapseSix" class="collapse " data-parent="#accordionExample">
										<div class="card-body">
											<div class="shop__sidebar__tags">
												<a href="#">Product</a>
												<a href="#">Bags</a>
												<a href="#">Shoes</a>
												<a href="#">Fashio</a>
												<a href="#">Clothing</a>
												<a href="#">Hats</a>
												<a href="#">Accessories</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="shop__product__option">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="shop__product__option__left">
									<p>Showing 1–12 of 126 results</p>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="shop__product__option__right">
									<p>Sort by Price:</p>
									<select>
										<option value="">Low To High</option>
										<option value="">$0 - $55</option>
										<option value="">$55 - $100</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row">
						@foreach (var item in Model.Products.OrderByDescending(x => x.ProductID))
						{
							<div class="col-lg-4 col-md-6 col-sm-6">
								<div class="product__item filterDiv @item.Category.CategoryName">
									<div class="product__item__pic set-bg" data-setbg="@item.ProductImage">
										<ul class="product__hover">
											<li>
												<a href="#"><img src="~/UserView/img/icon/heart.png" alt=""> <span>Favori</span></a>
											</li>
											<li>
												<a href="#"><img src="~/UserView/img/icon/search.png" alt=""> <span>İncele</span></a>
											</li>
										</ul>
									</div>
									<div class="product__item__text">
										<h6>@item.ProductName</h6>
								
								@*@using (Html.BeginForm("AddToCart","Cart"))
										{
											@Html.HiddenFor(i=>i.ProductID)
									<button type="submit" class="add-cart">Sepete Ekle <img src="~/UserView/img/icon/cart.png" /></button>

										}*@
										<form asp-controller="Cart" asp-action="AddToCart">
											<input type="hidden" name="Id" value="@item.ProductID" />
											<button type="submit">Sepete Ekle <img src="~/UserView/img/icon/cart.png" /></button>
										</form>
										

										<div class="rating">
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
										</div>
										<h5>₺ @item.ProductPrice</h5>
										<div class="product__color__select">
											<label for="pc-4">
												<input type="radio" id="pc-4">
											</label>
											<label class="active black" for="pc-5">
												<input type="radio" id="pc-5">
											</label>
											<label class="grey" for="pc-6">
												<input type="radio" id="pc-6">
											</label>
										</div>
									</div>
								</div>
							</div>
						}

					</div>
				</div>
	</section>
	<!-- Shop Section End -->

</body>

</html>
<!-- Shop Section End -->
<script>
	filterSelection("all");

	function filterSelection(c) {
		var x, i;
		x = $(".filterDiv");
		x.hide(500);
		x = $(".filterDiv");
		if (c == "all") {
			x.show(750);
		} else {
			x.filter("." + c).show(750);
		}

		var btnContainer = $("#myBtnContainer");
		var btns = btnContainer.find(".btn");
		btns.removeClass("active");
		btns.filter("[onclick*='" + c + "']").addClass("active");
	}

	$(".shop__sidebar__categories .btn").click(function () {
		var category = $(this).text();
		filterSelection(category);
	});
</script>
