@model UserSignUpViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Skydash Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/AdminView/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/AdminView/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/AdminView/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/AdminView/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/AdminView/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <div class="brand-logo">
                                <img src="../../images/logo.svg" alt="logo">
                            </div>
                            <h4>New here?</h4>
                            <h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6>
                            <form class="pt-3" role="form" asp-action="Index">

                                <div class="form-group">
                                    <span asp-validation-for="@Model.NameSurname" class="text-danger"></span>
                                    <input asp-for="@Model.NameSurname" type="text" class="form-control form-control-lg"  placeholder="Ad Soyad"required="">
                                </div>

                                <div class="form-group">
                                    <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                                    <input asp-for="@Model.UserName" type="text" class="form-control form-control-lg" placeholder="Kullanıcı Adı" required="">
                                </div>
                                <div class="form-group">
                                    <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                                    <input asp-for="@Model.PhoneNumber" type="tel" class="form-control form-control-lg" placeholder="Telefon No" required="">
                                </div>

                                <div class="form-group">
                                    <span asp-validation-for="@Model.Mail" class="text-danger"></span>
                                    <input asp-for="@Model.Mail" type="email" class="form-control form-control-lg" placeholder="Mail" required="">
                                </div>
                                
                                <div class="form-group">
                                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                                    <input asp-for="@Model.Password" type="password" class="form-control form-control-lg"  placeholder="Şifre" required="">
                                </div>

                                <div class="form-group">
                                    <input asp-for="@Model.ConfirmPassword" type="password" class="form-control form-control-lg" placeholder="Şifre Tekrar" required="">
                                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                                </div>

                                <div class="text-danger" asp-validation-summary="ModelOnly">

                                </div>

								<div class="mb-4">
                                    <div class="form-check">
                                        <label class="form-check-label text-muted">
                                            <input type="checkbox" class="form-check-input">
                                           Koşulları okudum, onaylıyorum.
                                        </label>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">SIGN UP</button>
                                </div>
                                <div class="text-center mt-4 font-weight-light">
                                    Already have an account? <a href="/Register/Login" class="text-primary">Login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/AdminView/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/AdminView/js/off-canvas.js"></script>
    <script src="~/AdminView/js/hoverable-collapse.js"></script>
    <script src="~/AdminView/js/template.js"></script>
    <script src="~/AdminViewjs/settings.js"></script>
    <script src="~/AdminViewjs/todolist.js"></script>
    <!-- endinject -->
</body>

</html>
